@model BL.BIZINVOICING.BusinessEntities.Masters.CompanyBankMaster

@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Invoice_layout.cshtml";
}

<script type="text/javascript">
    var glob, check;
    rt = true, dupicaterow = true;
   // var array = [], array2 = [], array3 = [], check, rt = true, dupicaterow = true;
    //array3 = [
    //    { value: "Addition", text: "Addition" },
    //    { value: "Deduction", text: "Deduction" }
    //];
    jQuery(document).ready(function () {
        //bindTermDetails();
        //bindCodeDetails();
        //bindGradeDetails();
        bindRegionDetails();
        bindCompanyBank();
        var tRows = document.getElementById('tblchruch');
        var rows = tRows.rows;
        for (var Index = 1, row = null; Index < rows.length; Index++) {
            row = rows[Index];
            row.cells[0].innerHTML = Index;
        }
        //var d = new Date();
        //var dd = new Date(new Date(d).setDate(new Date(d).getDate() - 1));
        ////showcurrentMonth(dd, 'txtdate')
        //disablepastdate(dd, 'txtdate')
        jQuery("#btnSubmit").click(function () {
            opType = jQuery("#hdnEmployee").val();
            var message = validateCompanyBank();
            if (message.length > 0 && opType != 'D') {
                notifyMessage(message, 'danger');
            }
            else if (doublemob == false || doubleemail == false || doubleTin == false) {
                jQuery("#loader").css("display", "none");
            }
            //else if (doubleacc == true) {
            //    //jQuery("#loader").css("display", "none");
            //   // alert(account number already exists);
            //}
            else {
                if (opType == 'C') {
                    var x = confirm("Are you sure you want to Save?");
                    if (x) {
                        addgd();
                        return true;
                    }
                    else
                        return false;
                } else {
                    //var doubleacc = true;
                    var x = confirm("Are you sure you want to Update?");
                    if (x) {
                        addgd();
                        return true;
                    }
                    else
                        return false;
                }
            }
        })
        jQuery("#btnDelete").click(function () {
            delgd();
        });
    });
    function bindCompanyBank() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetCompanys", "Company")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != null) {
                    var i = 1;
                    jQuery.each(data, function (key, value) {
                        var row = '<tr>' +
                            '<td>' + i + '</td>' +
                            '<td>' + value.CompName + '</td>' +//1
                            '<td>' + value.PostBox + '</td>' +//2
                            '<td>' + value.Address + '</td>' +//3
                            '<td class="d-none">' + value.RegId + '</td>' +//4
                            '<td>' + value.RegName + '</td>' +//5
                            '<td class="d-none">' + value.DistSno + '</td>' +//6
                            '<td>' + value.DistName + '</td>' +//7
                            '<td class="d-none">' + value.WardSno + '</td>' +//8
                            '<td>' + value.WardName + '</td>' +//9
                            '<td>' + value.TinNo + '</td>' +//10
                            '<td>' + value.VatNo + '</td>' +//11
                            '<td>' + value.DirectorName + '</td>' +//12
                            '<td>' + value.Email + '</td>' +//13
                            '<td>' + value.TelNo + '</td>' +//14
                            '<td>' + value.FaxNo + '</td>' +//15
                            '<td>' + value.MobNo + '</td>' +//16
                            //'<td>' + value.CompLogo + '</td>' +//17
                            //'<td>' + value.DirectorSig + '</td>' +//18

                            '<td><button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#modal-smtp" id="btn' + value.CompSno + '" data-sid="' + value.CompSno + '" value="Edit" onclick="showCompanyModel(this)"><i class="fas fa-pen"></i></button>&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-dark btn-sm" data-sid="' + value.CompSno + '" data-pwd="' + value.CompName + '" id="btnDelete" data-rec="0" onclick="delgd(this)"><i class="fas fa-trash" aria-hidden="true"></i></button></td >' +
                            '</tr>';
                        i++;
                        jQuery("#tbl-smtp tbody").append(row);
                    });
                }
                applyDatatable('tbl-smtp');
            }
        })
    }

    function delgd(e) {
        var st = jQuery(e).data('pwd');
        var x = confirm("Are you sure you want to Delete?");
        if (x) {
            jQuery('#hdnEmployee').val('D');
            cid = jQuery(e).data('sid');
            deletegds(cid,st);
            return true;
        }
        else
            return false;
    }
    function addgd() {
        var message =validateCompanyBank();
        type = '',
            opType = jQuery("#hdnEmployee").val();
        if (message.length > 0 && opType != 'D') {
            notifyMessage(message, 'danger');
        }
        else {
            var params = JSON.stringify(getSMTPValuesgradedetails());//need to change
            //alert(params);
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("AddCompanyBank", "Company")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    hideModal('modal-smtp');
                    if (opType == 'C') {
                        if (data == true) {
                            message = jQuery("#txtcompname").val() + '  or ' + jQuery("#txttinno").val() + ' Already Exists.';
                            type = 'danger';
                        }
                        else {
                            message = jQuery("#txtcompname").val() + '  or ' + jQuery("#txttinno").val() +  ' Successfully Created.';
                            type = 'success';
                        }
                    }
                    else if (opType == 'U') {
                        jk = true;
                        if (data ==false && jk == true) {
                            message = jQuery("#txtcompname").val() + '  or ' + jQuery("#txttinno").val() + ' Already  Exists.';
                            type = 'danger';
                        }
                        else {
                            message = jQuery("#txtcompname").val() + '  or ' + jQuery("#txttinno").val() +'  Successfully Updated';
                            type = 'success';
                        }
                    }
                    jQuery("#loader").css("display", "none");
                    notifyMessage(message, type);
                    bindCompanyBank();
                }
            })
        }
    }
    function deletegds(cid,st) {
        type = '',
            opType = jQuery("#hdnEmployee").val();
        var params = JSON.stringify(getSMTPID(cid));
        jQuery("#loader").css("display", "block");
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteCompanyBank", "Company")',
            data: params,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                hideModal('modal-smtp');
                if (data == true) {
                    message = st + '  is in use, cannot be deleted';
                    type = 'danger';
                }
                else if (opType == 'D' && data) {
                    message = st + '   Successfully Deleted';
                    type = 'success';
                    jQuery("#tbl-smtp tbody").empty();
                }
                notifyMessage(message, type);
                bindCompanyBank();
            }
        })
    }
     function bindDistDetails(dlreg) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetDistDetails", "Company")',
            data: JSON.stringify({ 'Sno': dlreg }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#ddldist").append(jQuery("<option></option>").val(0).html('Select'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddldist").append(jQuery("<option></option>").val(value.SNO).html(value.District_Name));
                    });
                }
                jQuery("#ddldist").val(dlreg).change();//ward
            }
        })
    }
     function bindRegionDetails() {
        jQuery.ajax({
            type: 'GET',
            url: '@Url.Action("GetRegionDetails", "Company")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#ddlreg").append(jQuery("<option></option>").val(0).html('Select'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddlreg").append(jQuery("<option></option>").val(value.Region_SNO).html(value.Region_Name));
                    });
                }
            }
        })
    }
    jQuery(function () {
        jQuery("#ddlreg").change(function () {
             jQuery('#ddldist option').remove();
            var dlreg = jQuery("#ddlreg > option:selected").attr("value");
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("GetDistDetails", "Company")',
                data: JSON.stringify({ 'Sno': dlreg }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    jQuery("#ddldist").append(jQuery("<option></option>").val(0).html('Select'));
                    if (data != 0) {
                        jQuery.each(data, function (key, value) {
                            jQuery("#ddldist").append(jQuery("<option></option>").val(value.SNO).html(value.District_Name ));
                        });
                    }
                    else { jQuery("#ddldist").val(0).change(); }
                    if (txtSname.value != 0) {
                        jQuery("#ddldist").val(txtSname.value).change();
                    }
                }
            })
        })
    })
    jQuery(function () {
        jQuery("#ddldist").change(function () {
            jQuery('#ddlward option').remove();
            var dldist = jQuery("#ddldist > option:selected").attr("value");
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("GetWard", "Company")',
                data: JSON.stringify({ 'sno': dldist }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    jQuery("#ddlward").append(jQuery("<option></option>").val(0).html('Select'));
                    if (data != 0) {
                        jQuery.each(data, function (key, value) {
                            jQuery("#ddlward").append(jQuery("<option></option>").val(value.SNO).html(value.Ward_Name));
                        });
                    }
                    else {
                        jQuery("#ddlward").val(0).change();
                    }
                  //  if (txtSname.value != 0) {
                 //       jQuery("#ddlward").val(txtSname.value).change();
                 //   }
                    if (txtWname.value != 0) {
                        jQuery("#ddlward").val(txtWname.value).change();
                    }
                }
            })
        })
    })

   function showCompanyModel(e) {
        var txtCompName = document.getElementById('txtcompname');
        var txtPono = document.getElementById("txtpono");
        var txtAdd = document.getElementById("txtadd");
        var txtTinno = document.getElementById("txttinno");
        var txtVatno = document.getElementById("txtvatno");
        var txtDperson = document.getElementById("txtdname");
        var txtEmail = document.getElementById("txtemail");
        var txtTelno = document.getElementById("txttelno");
        var txtFaxno = document.getElementById("txtfaxno");
        var txtMob = document.getElementById("txtmob");
        var txtLogo = document.getElementById("imglogo");
        var txtSig = document.getElementById("txtsig");
        txtSID = document.getElementById('txtSID');
        var ddlREG = document.getElementById("ddlreg");
        //var regsno = ddlREG.options[ddlREG.selectedIndex].value;
        //var ddlreg = ddlREG.options[ddlREG.selectedIndex].text;
        var  ddlDIST = document.getElementById("ddldist");
        //var distsno = ddlDIST.options[ddlDIST.selectedIndex].value;
        //var ddldist = ddlDIST.options[ddlDIST.selectedIndex].text;
          var  ddlWARD = document.getElementById("ddlward");
        //var wardsno = ddlWARD.options[ddlWARD.selectedIndex].value;
        //var    ddlward = ddlWARD.options[ddlWARD.selectedIndex].text,
            //txtcompname, txtpono, txtadd, ddlreg, ddldist, ddlward, txttinno, txtdname, txtemail, txttelno, txtfaxno, txtmob, imglogo, txtsig
        //txtSID = document.getElementById('txtSID');
        var tblemployee = document.getElementById('tbl-smtp'),
            rows = tblemployee.rows,
            hdnEmployee = document.getElementById('hdnEmployee');
        if (e.value.indexOf('Edit') > -1) {
            jk = false, ak = false;
            jQuery("#btnSubmit").html("Update");
            for (var i = 0, row = null; i < rows.length; i++) {
                row = rows[i];
                if (row.cells[17].innerHTML.indexOf(e.id) > -1) {
                    txtSID.value = jQuery(e).data('sid');
                    jQuery("#loader").css("display", "none");
                    txtCompName.value = row.cells[1].innerHTML;
                    txtPono.value = row.cells[2].innerHTML;
                    txtAdd.value = row.cells[3].innerHTML;
                    jQuery("#ddlreg").val(row.cells[4].innerHTML).change();
                    jQuery("#ddldist").val(row.cells[6].innerHTML).change();
                    jQuery("#ddlward").val(row.cells[8].innerHTML).change();
                    txtTinno.value = row.cells[10].innerHTML;
                    txtVatno.value = row.cells[11].innerHTML;
                    txtDperson.value = row.cells[12].innerHTML;
                    txtEmail.value = row.cells[13].innerHTML;
                    txtTelno.value = row.cells[14].innerHTML;
                    txtFaxno.value = row.cells[15].innerHTML;
                    txtMob.value = row.cells[16].innerHTML;
                    //txtLogo.value = row.cells[17].innerHTML;
                    //txtSig.value = row.cells[18].innerHTML;                    
                    txtDname.value = row.cells[1].innerHTML;//..................del
                    txtSname.value = row.cells[6].innerHTML;
                    txtWname.value = row.cells[8].innerHTML;
                    jQuery("#lblError").hide();
                    jQuery("#lblError2").hide();
                    jQuery("#lblError4").hide();
                    jk = false;
                   jQuery.ajax({
                       type: 'POST',
                       url: '@Url.Action("GetBanks", "Company")',
                       data: JSON.stringify({ 'Sno': jQuery(e).data('sid') }),
                       contentType: 'application/json; charset=utf-8',
                       dataType: 'json',
                       cache: false,
                       success: function (data) {
                           //txtbankname, txtbankbranch, txtaccno, txtswiftcode
                           jQuery('#txtbankname').val('').change();
                           jQuery('#txtbankbranch').val('').change();
                           jQuery('#txtaccno').val('').change();
                           jQuery('#txtswiftcode').val('').change();
                           if (data != null) {
                               jQuery("#tblchruch  TBODY").children().not(":last").remove();
                               jQuery.each(data, function (key, value) {
                                   var tBody = jQuery("#tblchruch  TBODY")[0];
                                   var row = tBody.insertRow(0);
                                   var cell = jQuery(row.insertCell(0));
                                   
                                   //txtbankname, txtbankbranch, txtaccno, txtswiftcode
                                   var cell1 = jQuery(row.insertCell(1));
                                   var t1 = document.createElement("input");
                                   t1.id = "txtbankname1";
                                   t1.value = value.BankName;
                                   t1.className = "form-control col-4";
                                   cell1.append(t1);
                                   var cell2 = jQuery(row.insertCell(2));
                                   var t2 = document.createElement("input");
                                   t2.id = "txtbankbranch1";
                                   t2.value = value.BankBranch;
                                   t2.className = "form-control col-4";
                                   cell2.append(t2);
                                   var cell3 = jQuery(row.insertCell(3));
                                   var t3 = document.createElement("input");
                                   t3.id = "txtaccno1";
                                   t3.value = value.AccountNo;
                                   t3.className = "form-control col-4";
                                   cell3.append(t3);
                                   var cell4 = jQuery(row.insertCell(4));
                                   var t4 = document.createElement("input");
                                   t4.id = "txtswiftcode1";
                                   t4.value = value.Swiftcode;
                                   t4.className = "form-control col-4";
                                   cell4.append(t4);

                                   cell5 = jQuery(row.insertCell(5));
                                   var btnRemove = jQuery('<button class="btn btn-outline-dark btn-sm" onclick="Removegrade(this);return false;"><i class="fas fa-trash" aria-hidden="true"></i></button>');
                                   cell5.append(btnRemove);
                                   jQuery("#tblchruch tbody").append(tBody);
                                   i++;
                                   //jQuery('#tblchruch tr td:nth-child(2)').hide();
                                   //jQuery('#tblchruch tr td:nth-child(5)').hide();
                                   var tRows = document.getElementById('tblchruch');
                                   var rows = tRows.rows;
                                   for (var Index = 1, row = null; Index < rows.length; Index++) {
                                       row = rows[Index];
                                       row.cells[0].innerHTML = Index;
                                   }
                               });
                           }
                           var tr = '<button type="button" id="btnAdd" class="btn btn-biz_logic btn-sm" value="Add" onclick="AddNewrowGrade(this)"><i class="fa fa-plus"></i>AddnewRow</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn  btn-outline-dark btn-sm" onclick="Removegrade(this);return false;"><i class="fas fa-trash" aria-hidden="true"></i>Delete</button>';
                           $("#tblchruch").find("tr:last").prev().find("td:last").html(tr);
                           $('#tblchruch tr:last').hide();
                           hdnEmployee.value = 'U';
                           rt = false;
                       }
                   })
                }
            }
        }
        else if (e.value.indexOf('Add') > -1) {
            resetSGD();
            txtSID.value = 0;
            //txtDID.value = '';
            jQuery("#tdlast").show();
            jQuery('#tblchruch tr th:nth-child(5)').show();
            jQuery('#tblchruch tr td:nth-child(5)').show();
            jQuery("#btnSubmit").show();
            
            jQuery("#btnSubmit").html("Save");
            hdnEmployee.value = 'C';
            jQuery("#loader").css("display", "none");
            $('#tblchruch tr:last').show();
            var tRows = document.getElementById('tblchruch');
            var rows = tRows.rows;
            for (var Index = 1, row = null; Index < rows.length; Index++) {
                row = rows[Index];
                row.cells[0].innerHTML = Index;
            }
        }
    }
     @*var double;
    function binddupliacteDetailsGrade(desc, date) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("CheckGrade", "Company")',
            data: JSON.stringify({ 'desc': desc }, { 'date': date }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    double = false;
                }
                else {
                    double = true;
                }
            }
        })
    }*@
    function binddupliacteAccountDetails(acc) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("CheckAccount", "Company")',
            data: JSON.stringify({ 'acc': acc.value }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    doubleacc =false;
                }
                else {
                    doubleacc =true;
                    //lblError12.innerHTML = "";
                }
            }
        })
    }
   
</script>
<div class="card-body">
    <h5 class="card-title" id="exampleModalLabel1">Company Master</h5>
    <div class="form-group d-flex">
        <button type="button" id="btnAdd" value="Add" data-sid="0" class="btn ml-auto mr-1 btn-sm btn-success btn-biz_logic" onclick="showCompanyModel(this);"
                data-toggle="modal" data-target="#modal-smtp">
            Create
        </button>
        <input type="hidden" id="hdnEmployee" />
    </div>
    <div class="table-responsive">
        <table id="tbl-smtp" class="table table-bordered table-sm rounded display">
            <thead class="thead-light">
                <tr>
                    <th class="setup_actions" style="width:5px;">Sno</th>
                    <th>Company Name</th>
                    <th>PostBox No</th>
                    <th>Address</th>
                    <th class="d-none">Region Id</th>
                    <th>Region Name</th>
                    <th class="d-none">District Sno</th>
                    <th>District Name</th>
                    <th class="d-none">Ward Id</th>
                    <th>Ward Name</th>
                    <th>Tin No</th>
                    <th>Vat No</th>
                    <th>Director Name</th>
                    <th>Email</th>
                    <th>Telephone Number</th>
                    <th>Fax No</th>
                    <th>Mobile Number</th>
                    @*<th>Company Logo</th>
                    <th>Director Signature</th>*@
                    <th class="setup_actions">Actions</th>
                   
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- [MODALS] -->
<div class="modal fade" id="modal-smtp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="believerCreateLabel"
     aria-hidden="true">
    <div class="modal-dialog believerModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title offset" id="exampleModalLabel1">Company Master</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="col-12 p-0 mx-auto" action="AddCompanyBank" method="post" name="form1">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Company Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtcompname" placeholder="Company Name" onkeyup="validCompany(this)" onkeypress="return alpha(event)" maxlength="100" />
                            <input type="hidden" class="form-control  hidden" id="txtSID">
                            <input type="hidden" class="form-control  hidden" id="txtDname">

                        </div>

                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Post Box No<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtpono" placeholder="Post Box No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="50" />

                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Address<span class="text-danger">*</span></label>
                            <textarea type="text" id="txtadd" class="form-control" placeholder="Address" maxlength="100"></textarea>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">Region</label>
                            <select class="form-control" id="ddlreg" name="ddlreg"></select>
                        </div>


                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">District</label>
                            <select class="form-control" id="ddldist" name="ddldist"></select>
                            <input type="hidden" class="form-control  hidden" id="txtSname">
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">Ward</label>
                            <select class="form-control" id="ddlward" name="ddlward"></select>
                            <input type="hidden" class="form-control  hidden" id="txtWname">
                        </div>


                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Tin No<span class="text-danger">*</span></label>
                            <input type="Text" class="form-control" id="txttinno" placeholder="Tin No" onkeypress="return isNumber(event)" maxlength="9" onkeydown="validComp(this)" onblur="TinnoValiadte(this);" />
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError4"></span>
                            </div>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Vat No<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtvatno" placeholder="Vat No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="20" />

                        </div>

                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Director Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtdname" placeholder="Director Name" onkeypress="return alpha(event)" maxlength="100" />

                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtemail" placeholder="Email" onblur="ValidateEmail(this)" @*onkeyup="validCust(this)"*@ maxlength="100" />
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError1"></span>
                            </div>
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError2"></span>@*<span id="lblError2"></span>*@
                            </div>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Telephone No<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txttelno" placeholder="Telephone No" maxlength="20"  />
                            
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Fax No</label>
                            <input type="Text" class="form-control" id="txtfaxno" placeholder="Fax No" onkeypress="return isNumber(event)" maxlength="20" @*onkeydown="validCust(this)"*@  />
                            
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Mobile Number<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtmob" placeholder="Mobile Number" maxlength="12" @*onkeydown="validCust(this)"*@ onblur="mobileValiadte(this);" />
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError"></span>
                            </div>
                        </div>
                        @*<div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Company Logo<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="imglogo" placeholder="Post Box No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="100" />

                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">Director Signature<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtsig" placeholder="Post Box No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="100" />

                        </div>*@
                    </div>
                    <div class="row"></div>
                    <hr>
                    <div class="row mx-0">
                        <h4>Bank Details</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm rounded e-de-table-center-alignment text-center display" align="center" id="tblchruch">
                                <thead class="thead-light">
                                    <tr>
                                        <th data-orderable="false">sno</th>

                                        <th data-orderable="false">Bank Name</th>
                                        <th data-orderable="false">Bank Branch</th>
                                        <th data-orderable="false">Account No</th>
                                        <th data-orderable="false">Swift Code</th>
                                        <th data-orderable="false">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>

                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control input-sm col-4" maxlength="100" autocomplete="off" placeholder="Bank Name" id="txtbankname" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control input-sm col-4" maxlength="50" autocomplete="off" placeholder="Bank Branch" id="txtbankbranch" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control input-sm col-4" maxlength="50" autocomplete="off" placeholder="Account No" @*onkeydown="validCo(this)"*@ onchange="binddupliacteAccountDetails(this);" id="txtaccno" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control input-sm col-4" maxlength="50" autocomplete="off" placeholder="Swift Code" id="txtswiftcode" />
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" id="btnAdd" class="btn btn-biz_logic btn-sm" value="Add" onclick="AddNewrowGrade(this)">
                                                <i class="fa fa-plus"></i>Add New Row
                                            </button>
                                            <button class="btn  btn-outline-dark btn-sm" onclick="Removegrade(this);return false;"><i class="fas fa-trash"></i>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success btn-sm btn-biz_logic" id="btnSubmit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


