@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/clientapp")
    </head>
    <body>

        @RenderBody()


        @Scripts.Render("~/bundles/clientapp")
        @RenderSection("scripts", required: false)
    </body>
    </html>
*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Jichange</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/clientapp")
</head>
<body>
    @RenderBody()
    <script type="text/html"
            src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton"
            async
            defer></script>
    @Scripts.Render("~/bundles/clientapp")
    @RenderSection("scripts", required: false)
</body>
</html>
