
@{
    ViewBag.Title = "Invoice Details Report";
    Layout = "~/Views/Shared/_Invoice_layout.cshtml";
}

<script type="text/javascript">
    var cnd, end;
    var total = 0;
    var tot1 = 0;
    var tot2 = 0;
    var tot3 = 0;
    var tot4 = 0;
    $(document).ready(function () {
        //Getod();
        $("#btn").click(function () {
            adddesg();
            total = 0;

        });
        $("#btnPdf").click(function () {
            addpdf();

        });
        $("#btnExcel").click(function () {
            addexcel();

        });
    });
</script>
<div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            <h2>Invoice details Report</h2>
        </div>
        <div class="col-md-6 col-sm-12 text-right">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Setup", "Setup")"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Invoice Details Report</li>
            </ul>
            @* <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create New</a> *@
            @* <button type="button" id="btnAdd" value="Add" data-sid="0"
                class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                onclick="showcurrencyModal(this);" data-toggle="modal" data-target="#modal-currency"> <i
                class="icofont icofont-plus m-r-5"></i>
                Add Currency
                </button> *@
            <input type="hidden" id="hdnEmployee" />
        </div>
    </div>
</div>

<div class="container-fluid">
    @* BODY DETAILS CARD/PANEL *@
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Invoice Details Report <small></small>
                    </h2>

                        <div class="card-block">


                            <div class="row">
                                <div class="form-group flex_form-group align-items-baseline col-xl-6">
                                    <label for="ddluserid" class="label-130">Company</label>
                                    <select id="ddlcomp" class="form-control" name="ddlcomp"></select>
                                </div>
                                <div class="form-group flex_form-group align-items-baseline col-xl-6">
                                    <label for="ddluserid" class="label-130">Customer</label>
                                    <select id="ddlcust" class="form-control" name="ddlcust"></select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group flex_form-group align-items-baseline col-xl-6">
                                    <label for="ddluserid" class="label-130">Invoice No</label>
                                    <select id="ddluser" class="form-control" name="ddluser"></select>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="form-group flex_form-group align-items-baseline col-md-6">
                                        <label for="txtditid" class="label-130">Start Date</label>
                                        <input type="text"
                                               class="form-control input-sm"
                                               id="startdate"
                                               onchange="validatedate();"
                                               autocomplete="off"
                                               name="Startdate"
                                               placeholder="dd/mm/yyyy" />
                                    </div>
                                    <div class="form-group flex_form-group align-items-baseline col-md-6">
                                        <label for="txtditid" class="label-130">End Date</label>
                                        <input type="text"
                                               class="form-control input-sm"
                                               id="enddate"
                                               name="Enddate"
                                               autocomplete="off"
                                               placeholder="dd/mm/yyyy" />
                                    </div>
                                    <div class="d-flex justify-content-end col-12 my-2">


                                        <input type="submit" value="Submit" id="btn" class="btn btn-primary btn-sm btn-biz_logic" />
                                        <input type="submit" value="PDF" id="btnPdf" class="btn btn-secondary btn-sm btn-biz_logic ml-1" />
                                        <input type="submit" value="Excel" id="btnExcel" class="btn btn-primary btn-sm btn-biz_logic ml-1" />
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-content">
                                        <div class="dt-responsive table-responsive">
                                            <table id="tbl-smtp" class="table table-stripped table-bordered nowrap">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th class="sno-th">Sno</th>
                                                        <th>Description</th>
                                                        <th>VAT%</th>
                                                        <th>QTY</th>
                                                        <th>Unit Price</th>
                                                        <th>Total</th>
                                                        <th>VAT</th>
                                                        <th>Without VAT</th>
                                                    </tr>
                                                </thead>

                                                <tbody></tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="table-responsive"> -->
                                @*<div id="invoicereportlispartail" class="table-responsive">
                @Html.Partial("_Invoicelistpartial", Model)
            </div>*@
                                <!-- </div> -->
                            </div>
                            <script>



      function disablebetweendates(st, e) {
          var today, datepicker;
          today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
          $(document).ready(function () {
              jQuery('#' + e).datepicker('destroy');
              $('#' + e).datepicker({
                  uiLibrary: 'bootstrap4',
                  format: "dd/mm/yyyy",
                  minDate: st,
                  maxDate: today,
                  iconsLibrary: 'fontawesome',
                  weekStartDay: 1,
              });
          })
      }
    function validatedate() {
      var startDate = $("#startdate").val();
     // disablepastdate(startDate, "enddate");
        disablebetweendates(startDate, "enddate");
    }
    notallowtyping("startdate");
    notallowtyping("enddate");
    disablefuturedate("startdate");

    //var instvalue = $("#ddluser").val();
                                jQuery("#tbl-smtp").hide();
                                $.ajax({
      type: "POST",
      url: '@Url.Action("CompList", "InvoiceRep")',
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (data) {
        $("#ddlcomp").append($("<option></option>").val(0).html("All"));
        $("#ddlcust").append($("<option></option>").val(0).html("All"));
       $("#ddluser").append($("<option></option>").val(0).html("All"));
        if (data != null) {
          $.each(data, function (key, value) {
            $("#ddlcomp").append(
              $("<option></option>")
                    .val(value.CompSno)
                    .html(value.CompName)
            );
          });
        }
      },
    });
    @*$.ajax({
      type: "POST",
      url: '@Url.Action("InvList", "InvoiceRep")',
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (data) {
        $("#ddluser").append($("<option></option>").val(0).html("All"));
        if (data != null) {
          $.each(data, function (key, value) {
            $("#ddluser").append(
              $("<option></option>")
                    .val(value.Inv_Mas_Sno)
                    .html(value.Invoice_No)
            );
          });
        }
      },
    });*@

   // var dlinv = $("#ddlcust").val();
   // jQuery("#tbl-smtp").hide();
                                function bindcustDetails(dlcus) {
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("customerList", "InvoiceRep")',
                                        contentType: "application/json;charset=utf-8",
                                        data: JSON.stringify({ 'Sno': dlcus }),
                                        success: function (data) {
                                            $("#ddlcust").append($("<option></option>").val(0).html("All"));
                                            //$("#ddluser").append($("<option></option>").val(0).html("All"));
                                            if (data != null) {
                                                $.each(data, function (key, value) {
                                                    $("#ddlcust").append(
                                                        $("<option></option>")
                                                            .val(value.Cust_Sno)
                                                            .html(value.Cust_Name)
                                                    );
                                                });
                                            }
                                            jQuery("#ddlcust").val(dlinv).change();
                                        },
                                    });
                                }
     @*function bindinvoiceDetails(dlinv) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("InvList", "InvoiceRep")',
            data: JSON.stringify({ 'Sno': dlinv }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#ddluser").append(jQuery("<option></option>").val(0).html('ALL'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddluser").append(jQuery("<option></option>").val(value.Inv_Mas_Sno).html(value.Invoice_No));
                    });
                }
                jQuery("#ddluser").val(dlinv).change();

            }
        })
    }*@
    jQuery(function () {
        jQuery("#ddlcomp").change(function () {

          jQuery('#ddlcust option').remove();
          //jQuery("#ddluser").dropdown("clear");

            var dlcomp = jQuery("#ddlcomp > option:selected").attr("value");

            jQuery.ajax({
                type: 'POST',
                 url: '@Url.Action("customerList", "InvoiceRep")',
                @*url: '@Url.Action("InvList", "InvoiceRep")',*@
                data: JSON.stringify({ 'Sno': dlcomp }),
                //data: JSON.stringify({ 'Sno': dlinv }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    jQuery("#ddlcust").append(jQuery("<option></option>").val(0).html('ALL'));

                    if (data != 0) {
                        jQuery.each(data, function (key, value) {
                           // jQuery("#ddlcust").append(jQuery("<option></option>").val(value.Inv_Mas_Sno).html(value.Invoice_No));
                            jQuery("#ddlcust").append(jQuery("<option></option>").val(value.Cust_Sno)
                                .html(value.Cust_Name));
                        });
                    }

                    if (jQuery("#ddlcust").val() == undefined) {
                        jQuery("#ddlcust").val(0).change();
                    }
                }
            })
        })
    })
jQuery(function () {
        jQuery("#ddlcust").change(function () {
            jQuery('#ddluser option').remove();
            var dlinv = jQuery("#ddlcust > option:selected").attr("value");
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("InvList", "InvoiceRep")',
                data: JSON.stringify({ 'Sno': dlinv  }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    jQuery("#ddluser").append(jQuery("<option></option>").val(0).html('Select'));
                    if (data != 0) {
                        jQuery.each(data, function (key, value) {
                            jQuery("#ddluser").append(jQuery("<option></option>").val(value.Inv_Mas_Sno).html(value.Invoice_No));
                        });
                    }
                    else {
                        jQuery("#ddluser").val(0).change();
                    }
                  //  if (txtSname.value != 0) {
                 //       jQuery("#ddlward").val(txtSname.value).change();
                 //   }
                    if (txtWname.value != 0) {
                        jQuery("#ddluser").val(txtWname.value).change();
                    }
                }
            })
        })
    })

                            </script>
                            <script type="text/javascript">

    var bd = " ";
    var curr;
        function adddesg() {
        var i = 0;
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();
        var inst = $("#ddluser").val();
        var cust = $("#ddlcust").val();
        var comp = $("#ddlcomp").val();

        if (startDate != "" && endDate == "") {
            alert("End date is mandatory");
            jQuery("#tbl-smtp tbody").empty();
            jQuery("#tbl-smtp tfoot").empty();
            jQuery('#tbl-smtp').DataTable().clear().destroy();

        } else if (startDate == "" && endDate != "") {
            alert("Start date is mandatory");
            jQuery("#tbl-smtp tbody").empty();
            jQuery("#tbl-smtp").hide();
        } else if (
            (startDate == "" && endDate == "") ||
            (startDate != "" && endDate != "")
        )
        {
            var dltext = $('#ddlcurrency option:selected')
                .toArray().map(item => item.text).join();
            var dlvalue = $('#ddlcurrency option:selected')
                .toArray().map(item => item.value).join();
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("GetInvDetReport", "InvoiceRep")',
                data: JSON.stringify({ 'Comp':comp,'invs': inst, 'stdate': startDate, 'enddate': endDate, 'Cust': cust}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (data) {
                    jQuery("#tbl-smtp").show();
                    jQuery("#tbl-smtp tbody").empty();
                    jQuery("#tbl-smtp tfoot").empty();
                    if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                        jQuery('#tbl-smtp').DataTable().clear().destroy();
                    }
                    if (data != 0) {
                        total = 0;
                        tot1 = 0;
                        tot2 = 0;
                        tot3 = 0;
                        tot4 = 0;
                        i = 1;
                        jQuery.each(data, function (key, value) {
                            total += value.Item_Qty;
                            tot1 += value.Item_Unit_Price;
                            tot2 += value.Item_Total_Amount;
                            tot3 += value.Vat_Amount;
                            tot4 += value.Item_Without_vat;
                            //cname = data[d].Currency_Name;
                            var row = '<tr>' +
                                '<td>' + i + '</td>' +
                                '<td>' + value.Item_Description + '</td>' +
                                '<td>' + value.Vat_Percentage + '</td>' +
                                '<td align="right">' + Comma(value.Item_Qty) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Unit_Price) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Total_Amount) + '</td>' +
                                '<td align="right">' + Comma(value.Vat_Amount) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Without_vat) + '</td>' +
                                '</tr>';
                            jQuery("#tbl-smtp tbody").append(row);
                            i++;

                        });
                        var rows = '<tr>' +
                                '<td>' + bd + '</td>' +
                                '<td>' + bd + '</td>' +
                                '<td  align="right">Total </td>' +
                                '<td align="right">' + Comma(total) + '</td>' +
                                '<td align="right">' + Comma(tot1) + '</td>' +
                                '<td align="right">' + Comma(tot2) + '</td>' +
                                '<td align="right">' + Comma(tot3) + '</td>' +
                                '<td align="right">' + Comma(tot4) + '</td>' +
                                '</tr>';
                            jQuery("#tbl-smtp tfoot").append(rows);




                        applyDatatable('tbl-smtp');
                    }
                    else {
                        jQuery("#tbl-smtp tfoot").empty();
                        //applyDatatable('tbl-smtp');
                        jQuery("#tbl-smtp").hide();
                        jQuery('#tbl-smtp').DataTable().clear().destroy();
                        alert("No records found.")
                    }
                },
            });
        } else {
            return false;
            jQuery("#tbl-smtp tbody").empty();
           // jQuery("#tbl-smtp tfoot").empty();
        }
    }
        function addpdf() {
        var i = 0;
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();
            var inst = $("#ddluser").val();
            var comp = $("#ddlcomp").val();
       // var curr = $("#ddlcurrency").val();
            var cust = $("#ddlcust").val();
        if (startDate != "" && endDate == "") {
            alert("End date is mandatory");
            jQuery("#tbl-smtp tbody").empty();
            jQuery("#tbl-smtp tfoot").empty();
            jQuery('#tbl-smtp').DataTable().clear().destroy();

        } else if (startDate == "" && endDate != "") {
            alert("Start date is mandatory");
            jQuery("#tbl-smtp tbody").empty();
            jQuery("#tbl-smtp").hide();
        } else if (
            (startDate == "" && endDate == "") ||
            (startDate != "" && endDate != "")
        )
        {

            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("GetInvDetReport", "InvoiceRep")',
                data: JSON.stringify({ 'Comp': comp,'cusid': inst, 'stdate': startDate, 'enddate': endDate, 'Cust': cust}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (data) {
                    jQuery("#tbl-smtp").show();
                    jQuery("#tbl-smtp tbody").empty();
                    jQuery("#tbl-smtp tfoot").empty();
                    if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                        jQuery('#tbl-smtp').DataTable().clear().destroy();
                    }
                    if (data != 0) {
                        total = 0;
                        tot1 = 0;
                        tot2 = 0;
                        tot3 = 0;
                        tot4 = 0;
                        i = 1;
                        jQuery.each(data, function (key, value) {
                            total += value.Item_Qty;
                            tot1 += value.Item_Unit_Price;
                            tot2 += value.Item_Total_Amount;
                            tot3 += value.Vat_Amount;
                            tot4 += value.Item_Without_vat;
                            //cname = data[d].Currency_Name;
                            var row = '<tr>' +
                                '<td>' + i + '</td>' +
                                '<td>' + value.Item_Description + '</td>' +
                                '<td>' + value.Vat_Percentage + '</td>' +
                                '<td align="right">' + Comma(value.Item_Qty) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Unit_Price) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Total_Amount) + '</td>' +
                                '<td align="right">' + Comma(value.Vat_Amount) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Without_vat) + '</td>' +
                                '</tr>';
                            jQuery("#tbl-smtp tbody").append(row);
                            i++;

                        });
                        var rows = '<tr>' +
                            '<td>' + bd + '</td>' +
                            '<td>' + bd + '</td>' +
                            '<td  align="right">Total </td>' +
                            '<td align="right">' + Comma(total) + '</td>' +
                            '<td align="right">' + Comma(tot1) + '</td>' +
                            '<td align="right">' + Comma(tot2) + '</td>' +
                            '<td align="right">' + Comma(tot3) + '</td>' +
                            '<td align="right">' + Comma(tot4) + '</td>' +
                            '</tr>';
                        jQuery("#tbl-smtp tfoot").append(rows);
                        if (i > 0) {
                            var doc = new jsPDF("l", "pt", "a4");
                            doc.text(350, 30, "Invoice Report ");
                            doc.setFontSize(13);
                            if (startDate != "" && endDate != "") {
                                doc.text(40, 50, "Start Date:" + "" + startDate);
                                doc.text(650, 50, "End Date:" + "" + endDate);
                            } else {
                                doc.text(40, 50, "Start Date:" + "" + cnd);
                                doc.text(650, 50, "End Date:" + "" + end);
                            }
                            var res = doc.autoTableHtmlToJson(
                                document.getElementById("tbl-smtp")
                            );
                            doc.autoTable(res.columns, res.data, {
                                margin: { top: 60 },
                                columnStyles: {
                                    7: {
                                        halign: 'right',
                                    },
                                }
                            });
                            //alert(res.data.Church_Reg_Sno);
                            var header = function (data) {
                                doc.setFontSize(8);
                                doc.setTextColor(40);
                                doc.setFontStyle("normal");
                            };
                            var options = {
                                addPageContent: header,
                                startY: doc.autoTableEndPosY() + 20,
                                styles: { overflow: "linebreak" },

                                createdCell: function (cell, opts) {
                                    if (cell.text[0].indexOf("da") > -1) {
                                        // count startrs from 0
                                        // cell.raw contains the cell data
                                        cell.styles.fillColor = [216, 78, 75]; // random color
                                        cell.styles.textColor = [58, 121, 152];
                                        cell.styles.fontStyle = "bold";
                                        cell.styles.fontSize = "10";
                                    }
                                },

                                tableWidth: "auto",
                            };

                            // doc.autoTable(res.columns, res.data, options);

                            doc.save("Invoice.pdf");
                        }
                        jQuery('#tbl-smtp').DataTable().clear().destroy();
                        jQuery("#tbl-smtp tfoot").empty();
                        jQuery("#tbl-smtp").hide();
                    }
                    else {
                        alert("No records found");
                        jQuery("#tbl-smtp tbody").empty();
                        jQuery("#tbl-smtp tfoot").empty();
                        jQuery('#tbl-smtp').DataTable().clear().destroy();
                        jQuery("#tbl-smtp").hide();
                    }
                },
            });
        } else {
            //return false;
            jQuery("#tbl-smtp tbody").empty();
        }
    }
    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML
                .toLowerCase()
                .replace(/ /gi, "");
        }

        // go through cells
        for (var i = 0; i < table.rows.length; i++) {
            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {
                rowData[headers[j]] = tableRow.cells[j].innerHTML;
            }

            data.push(rowData);
        }

        return data;
    }

        function addexcel() {
        var i = 0;
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();
            var inst = $("#ddluser").val();
            var comp = $("#ddlcomp").val();
       // var curr = $("#ddlcurrency").val();
            var cust = $("#ddlcust").val();
        if (startDate != "" && endDate == "") {
            alert("End date is mandatory");
            jQuery("#tbl-smtp tbody").empty();
            jQuery("#tbl-smtp tfoot").empty();
            jQuery('#tbl-smtp').DataTable().clear().destroy();

        } else if (startDate == "" && endDate != "") {
            alert("Start date is mandatory");
            jQuery("#tbl-smtp tbody").empty();
            jQuery("#tbl-smtp").hide();
        } else if (
            (startDate == "" && endDate == "") ||
            (startDate != "" && endDate != "")
        )
        {

            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("GetInvDetReport", "InvoiceRep")',
                data: JSON.stringify({ 'Comp': comp, 'cusid': inst, 'stdate': startDate, 'enddate': endDate, 'Cust': cust}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (data) {
                    jQuery("#tbl-smtp").show();
                    jQuery("#tbl-smtp tbody").empty();
                    jQuery("#tbl-smtp tfoot").empty();
                    if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                        jQuery('#tbl-smtp').DataTable().clear().destroy();
                    }
                    if (data != 0) {
                        total = 0;
                        tot1 = 0;
                        tot2 = 0;
                        tot3 = 0;
                        tot4 = 0;
                        var i = 1;
                        jQuery.each(data, function (key, value) {
                            total += value.Item_Qty;
                            tot1 += value.Item_Unit_Price;
                            tot2 += value.Item_Total_Amount;
                            tot3 += value.Vat_Amount;
                            tot4 += value.Item_Without_vat;
                            //cname = data[d].Currency_Name;
                            var row = '<tr>' +
                                '<td>' + i + '</td>' +
                                '<td>' + value.Item_Description + '</td>' +
                                '<td>' + value.Vat_Percentage + '</td>' +
                                '<td align="right">' + Comma(value.Item_Qty) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Unit_Price) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Total_Amount) + '</td>' +
                                '<td align="right">' + Comma(value.Vat_Amount) + '</td>' +
                                '<td align="right">' + Comma(value.Item_Without_vat) + '</td>' +
                                '</tr>';
                            jQuery("#tbl-smtp tbody").append(row);
                            i++;

                        });
                    }
                    if (i > 0) {
                        $("#tbl-smtp").table2excel({
                            filename: "Invoice.xls",
                        });
                    }
                    else {
                        alert("No records found");
                    }
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                    jQuery("#tbl-smtp tfoot").empty();
                    jQuery("#tbl-smtp").hide();
                },
            });
        } else {
            return false;
            jQuery("#tbl-smtp tbody").empty();
        }
    }
                            </script>
