@{
    var user = Session["admin1"] as string;
    var flogin = Session["flogin"] as string;


    {
        ViewBag.Title = "Setup";
        Layout = "~/Views/Shared/_Invoice_layout.cshtml";
    }

       <script>
           jQuery(document).ready(function () {
                
                   $.ajax({
                       type: 'POST',
                       url: '@Url.Action("Getonclickdefaultcompany", "Setup")',
                       data: '{}',
                       contentType: 'application/json; charset=utf-8',
                       dataType: 'json',
                       async: false,
                       success: function (data) {
                          // alert();
                           lblcount.innerHtml = data.cust;
                           $("#lblcount").text(Comma(data.cust));

                           lblcount1.innerHtml = data.inv;
                           $("#lblcount1").text(Comma(data.inv));

                           lblcount2.innerHtml = data.invapp;
                           $("#lblcount2").text(Comma(data.invapp));

                           lblcount3.innerHtml = data.amtwitvat;
                           $("#lblcount3").text(Comma(data.amtwitvat));

                           lblcount4.innerHtml = data.witoutvat;
                           $("#lblcount4").text(Comma(data.witoutvat));

                           lblcount5.innerHtml = data.tvat;
                           $("#lblcount5").text(Comma(data.tvat));

                           
                       }
                   })
               //} 
           });
       </script>
        
     

<script>
       //var cus; var invo; var invoapp; var witvat; var witoutvat; var tovat;

    function showcount(e) {
         $.ajax({
            type: 'POST',
            url: '@Url.Action("Getonclickday", "Setup")',
            data: JSON.stringify({ 'name': e.value }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
             success: function (data) {
                // alert(data.cust);
                 lblcount.innerHtml = data.cust;
                 $("#lblcount").text(Comma(data.cust));

                 lblcount1.innerHtml = data.inv;
                 $("#lblcount1").text(Comma(data.inv));

                 lblcount2.innerHtml = data.invapp;
                 $("#lblcount2").text(Comma(data.invapp));

                 lblcount3.innerHtml = data.amtwitvat;
                 $("#lblcount3").text(Comma(data.amtwitvat));

                 lblcount4.innerHtml = data.witoutvat;
                 $("#lblcount4").text(Comma(data.witoutvat));

                 lblcount5.innerHtml = data.tvat;
                 $("#lblcount5").text(Comma(data.tvat));
                 
                 $('#lblcount6').html(Comma(data.catA));
                 $("#lblcount7").html(Comma(data.catB));
                 $("#lblcount8").text(Comma(data.catC));
                 $("#lblcount9").text(Comma(data.catD));
                 $("#lblcount10").text(Comma(data.catE));
                 
            }
        })
        
    }
    var yValues; var xValues; var maxval2 ;
    var minval2;
    function showcountadm(e) {
      //  alert(e.value);
        
         $.ajax({
            type: 'POST',
            url: '@Url.Action("Getonclick", "Setup")',
            data: JSON.stringify({ 'name': e.value }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
             success: function (data) {
                // xValues =  ["MBY","DAR","KGM","MSH","MWZ","DOM","TNG","MOR","IRN","SNG","SHN","LND","TBR","MAR","SHY","MTW"];
               // yValues = [7,8,8,9,9,9,10,11,14,14,15,6,8,9,8,14];
                 var splitstr = data.countregi;
                 var array = splitstr.split(",");
                 var cc = array.map(Number);

                 var splitstr1 = data.name1;
                 var array1 = splitstr1.split(",");
                
                 //var cc1 = array1.re;


                 //for (var i = 0; i < array.length;i++) {
                 //    //var cc +=  array[i] +  ",";
                 //}
                 //var replaced = array.replace("\"", "");
                 //alert(array[0]);
                 //alert(array.count);
                 yValues =cc;
                 xValues = array1; 
                  maxval2 = Math.max.apply(Math, cc);;
                  minval2 = Math.min.apply(Math, cc);;
               //  alert(maxval2);
                // alert(minval2);
                 //alert(xValues);
                 //array1 = yValues;

                 @*var yValues = [@ViewBag.regcountli];
                 var xValues = [@Html.Raw(ViewBag.regnameli)];*@
                
             }
            
              
         })
        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    yAxes: [{ ticks: { min: minval2, max: maxval2 } }],
                }
            }

        });
       
        
        
        
    }
    //alert(yValues);
    //alert(xValues);
</script>

if (user == "Bank" && flogin == "true")
{

    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h2>Admin Dashboard</h2>
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container-fluid">


        @* <div class="row clearfix">
                <div class="col-12">
                    <div class="card top_report">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="fa fa-solid fa-building"></i>
                                        </div>
                                        <div class="number float-right text-right">
                                            <h6>Companies</h6>
                                            <span class="font700">20</span>
                                        </div>
                                    </div>
                                    <div
                                    class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="17"></div>
                                    </div>
                                    <small class="text-muted">89% compared to last week</small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="fa fa-solid fa-users"></i>
                                        </div>
                                        <div class="number float-right text-right">
                                            <h6>Users</h6>
                                            <span class="font700">6</span>
                                        </div>
                                    </div>
                                    <div
                                    class="progress progress-xs progress-transparent custom-color-green mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="5"></div>
                                    </div>
                                    <small class="text-muted">50% compared to last week</small>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div> *@
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header bline">
                        <h2>Customers/Companies Regional wise</h2>
                        
                            <button class="btn btn-sm round btn-outline-success" value="month" onclick="showcountadm(this)">Monthly</button>
                            <button class="btn btn-sm round btn-outline-success" value="yrly" onclick="showcountadm(this)">Annually</button>
                       
                           
                    </div>
                    <div class="body">
                        <canvas id="myChart" style="width:40%;max-width:1000px;height:100px;"></canvas>>
                    </div>
                </div>
            </div>



            @* <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Z-Report</h2>
                            <ul class="header-dropdown dropdown dropdown-animated scale-left">
                                <li> <a href="javascript:void(0);" data-toggle="cardloading"
                                    data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                                <li><a href="javascript:void(0);" class="full-screen"><i
                                        class="icon-size-fullscreen"></i></a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Date</th>
                                            <th>Z-Number</th>
                                            <th>Status Code</th>
                                            <th>Message</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2-September-2022 06:51:51</td>
                                            <td>2</td>
                                            <td>
                                                0</td>

                                            <td>
                                                <button class="btn btn-sm round btn-outline-success">Successfull
                                                    sent</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2-September-2022 06:51:51</td>
                                            <td>3</td>
                                            <td>
                                                1</td>

                                            <td>
                                                <button class="btn btn-sm round btn-outline-danger">Failed</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div> *@
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Connection Status </h2>
                        <ul class="header-dropdown dropdown dropdown-animated scale-left">
                            <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                            <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another Action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            @* <div class="col-5">
                                    <div class="sparkline-pie">90</div>
                                </div> *@
                            
                            <div class="col-7">
                                @* <h6 class="font700">Connection Status</h6> *@
                                @* <span>Wallet Ballance <span class="float-right">8920$</span></span><br> *@
                                @if (@ViewBag.expireddate == "InActive")
                                {
                                    <svg width="100" height="100">
                                    <circle cx="50" cy="20" r="20" fill="red" />
                                    </svg>
                                    <span>No connection =  <span>red</span></span><br>
                                }
                                else
                                {
                                    <svg width="100" height="100">
                                    <circle cx="50" cy="20" r="20" fill="green" />
                                    </svg>
                                    <span>Connected =  <span>green</span></span><br>
                                }



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Z-Report</h2>

                        <ul class="header-dropdown dropdown dropdown-animated scale-left">
                            <li>
                                <a href="javascript:void(0);" data-toggle="cardloading"
                                   data-loading-effect="pulse"><i class="icon-refresh"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="full-screen">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another Action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Company</th>
                                        <th>Z-Number</th>
                                        <th>Status Code</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2/09/2022 06:51:51</td>
                                        <td>abc</td>
                                        <td>2</td>
                                        <td>
                                            0
                                        </td>

                                        <td>
                                            <button class="btn btn-sm round btn-outline-success">
                                                Successfull
                                                sent
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2/09/2022 06:51:51</td>
                                        <td>abbc</td>
                                        <td>3</td>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <button class="btn btn-sm round btn-outline-danger">Failed</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            @* <div class="col-lg-8 col-md-12">
                     <div class="card">
                        <div class="header">
                            <h2>Top Products</h2>
                            <ul class="header-dropdown dropdown dropdown-animated scale-left">
                                <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                                <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="chart-top-products" class="chartist"></div>
                        </div>
                    </div>
                </div> *@

            <div class="col-lg-4 col-md-12">


                @* <div class="card">
                        <div class="header">
                            <h2>Email</h2>
                        </div>
                        <div class="body widget newsletter">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Email">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> *@
            </div>
        </div>

    </div>


}
if (user == "Companys" && flogin == "true")
{
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-4 col-sm-12">
                <h2>Dashboard</h2>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="btn-group">
                    <button class="btn btn-sm round btn-outline-success" value="today" onclick="showcount(this)">Today</button>
                    <button class="btn btn-sm round btn-outline-success" value="week" onclick="showcount(this)">Weekly</button>
                    <button class="btn btn-sm round btn-outline-success" value="mnth" onclick="showcount(this)">Monthly</button>
                    <button class="btn btn-sm round btn-outline-success" value="yrly" onclick="showcount(this)">Annually</button>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-right">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>

            </div>
        </div>
    </div>


    <div class="container-fluid">


        <div class="row clearfix">
            <div class="col-12">
                <div class="card top_report">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="fa fa-solid fa-users"></i>
                                    </div>
                                    <div class="number float-right text-right">
                                        <h6>Customers</h6>
                                        <label id="lblcount"></label>
                                        <span class="font700">@ViewData["CustC"]</span>
                                    </div>
                                </div>
                                @* <div
                                    class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div> *@
                                @* <small class="text-muted">45% compared to last week</small> *@
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="fa fa-solid fa-file"></i>
                                    </div>
                                    <div class="number float-right text-right">
                                        <h6>Invoices</h6>
                                        <label id="lblcount1"></label>
                                        <span class="font700">@ViewData["inv"]</span>
                                    </div>
                                </div>
                                @* <div
                                    class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div> *@
                                @* <small class="text-muted">89% compared to last week</small> *@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="fa-solid fa-receipt"></i>
                                    </div>
                                    <div class="number float-right text-right">
                                        <h6>Receipts</h6>
                                        <label id="lblcount2"></label>
                                        <span class="font700">@ViewData["invapp"]</span>
                                    </div>
                                </div>
                                @* <div
                                    class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div> *@
                                @* <small class="text-muted">89% compared to last week</small> *@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-12">
                <div class="card top_report">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="fa-solid fa-coins"></i>
                                    </div>
                                    <div class="number float-right text-right">
                                        <h6>Total Amount with VAT</h6>
                                        <label id="lblcount3"></label>
                                        <span class="font700">TZS @ViewData["totwithvat"]</span>
                                    </div>
                                </div>
                                @* <div
                                    class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div> *@
                                @* <small class="text-muted">45% compared to last week</small> *@
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="fa-solid fa-coins"></i>
                                    </div>
                                    <div class="number float-right text-right">
                                        <h6>Total Amount Without VAT</h6>
                                        <label id="lblcount4"></label>
                                        <span class="font700">TZS </span>
                                    </div>
                                </div>
                                @* <div
                                    class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div> *@
                                @* <small class="text-muted">89% compared to last week</small> *@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="fa-solid fa-coins"></i>
                                    </div>
                                    <div class="number float-right text-right">
                                        <h6>Total VAT</h6>
                                        <label id="lblcount5"></label>
                                        <span class="font700">TZS @ViewData["totvat"]</span>
                                    </div>
                                </div>
                                @* <div
                                    class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div> *@
                                @* <small class="text-muted">89% compared to last week</small> *@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Receipt Categories</h2>

                        <ul class="header-dropdown dropdown dropdown-animated scale-left">
                            <li>
                                <a href="javascript:void(0);" data-toggle="cardloading"
                                   data-loading-effect="pulse"><i class="icon-refresh"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="full-screen">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another Action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Category</th>
                                        <th>Generated Receipt</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                       
                                        <td >STANDARD(A-18)</td>
                                        <td id="lblcount6">@ViewData["bycata"]</td>
                                    </tr>
                                    <tr>
                                        <td>SPECIAL RATE(B-10)</td>
                                        <td id="lblcount7">@ViewData["bycatb"]</td>
                                    </tr>
                                    <tr>
                                        <td>ZERO RATED(C-0)</td>
                                        <td id="lblcount8">@ViewData["bycatc"]</td>
                                    </tr>
                                    <tr>
                                        <td>SPECIAL RELIEF(D-SR)</td>
                                        <td id="lblcount9">@ViewData["bycatd"]</td>
                                    </tr>
                                    <tr>
                                        <td>EXEMPT(E-0%)</td>
                                        <td id="lblcount10">@ViewData["bycate"]</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Z-Report</h2>

                        <ul class="header-dropdown dropdown dropdown-animated scale-left">
                            <li>
                                <a href="javascript:void(0);" data-toggle="cardloading"
                                   data-loading-effect="pulse"><i class="icon-refresh"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="full-screen">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another Action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Z-Number</th>
                                        <th>Status Code</th>
                                        <th>Message</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2/09/2022 06:51:51</td>
                                        <td>2</td>
                                        <td>
                                            0
                                        </td>

                                        <td>
                                            <button class="btn btn-sm round btn-outline-success">
                                                Successfull
                                                sent
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2/09/2022 06:51:51</td>
                                        <td>3</td>
                                        <td>
                                            1
                                        </td>

                                        <td>
                                            <button class="btn btn-sm round btn-outline-danger">Failed</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">


            <div class="col-lg-4 col-md-12">

                @* <div class="card">
                        <div class="header">
                            <h2>Email</h2>
                        </div>
                        <div class="body widget newsletter">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Email">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> *@
            </div>
        </div>

    </div>

}}


<script type="text/javascript">
    
                            var yValues = [@ViewBag.regcountli];
    var array1 = yValues;
    
    var maxval1 = Math.max.apply(Math, array1);
    var minval11 = Math.min.apply(Math, array1);
   
                            var xValues = [@Html.Raw(ViewBag.regnameli)];
    
new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
        yAxes: [{ ticks: { min: minval11, max: maxval1}}],
    }
  }

});

</script>




