
@{
    ViewBag.Title = "Generatedinvoices";
    Layout = "~/Views/Shared/_Invoice_layout.cshtml";
}


 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<style type="text/css">
    #tblchruch tr td {
        text-align: left;
    }

    .tbl-smtp1 thead {
        visibility: collapse;
    }

    table td {
        box-sizing: border-box !important;
    }

    .modal {
        padding-right: 0;
    }

    .textarea {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 40px;
    }
    
</style>

<script type="text/javascript">
    var array = [], dupicaterow = true,rt = true;

    jQuery(document).ready(function () {
        jQuery("#hdnsno").val(0);
        
        bindchruchDetails();
        
    });

    function bindchruchDetails() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetSignedDetails", "Invoice")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != 0) {
                    var i = 1;
                    jQuery.each(data, function (key, value) {
                        var row = '<tr>' +
                            '<td>'+i+'</td>' +
                            '<td>' + value.Invoice_No + '</td>' +
                            '<td>' + convertDate(value.Invoice_Date) + '</td>' +
                            '<td>' + value.Chus_Name + '</td>' +
                            // '<td>' + value.Currency_Code + '</td>' +
                            '<td>' + Comma(value.Total) + '</td>' +
                            '<td>' + value.Remarks + '</td>' +
                            //InvoiceDownload
                            //'<td align="right"><a class="btn btn-outline-secondary btn-sm" href="/InvoiceDownload/InvoiceSignDownload?Id=' + value.Inv_Mas_Sno + '" );"><i class="fa-solid fa-file-arrow-down"></i></a> &nbsp;&nbsp;&nbsp;</td>' +
                            '<td align="right"><a class="btn btn-outline-info btn-sm" href="/InvoiceDownload/InvoicePDFDownload?Id=' + value.Inv_Mas_Sno + '" );"><i class="fa-solid fa-file-arrow-down myamend"></i></a> &nbsp;&nbsp;&nbsp;</td>'+
                            '</tr>';
                        //<button class="btn btn-outline-dark btn-sm" data-sid="' + value.Church_Reg_Sno + '" data-pwd="' + value.Chruch_Name + '" id="btnDelete" data-rec="0" onclick="delchruch(this)"><i class="fas fa-trash" aria-hidden="true"></i></button>
                        jQuery("#tbl-smtp tbody").append(row);
                        i++;
                    });
                }
                applyDatatable('tbl-smtp');

            }
        })
    }
    function convertDate(e) {
        var date = new Date(parseInt(e.substr(6)));
        date = (date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear());
        return date;
    }
   
</script>
<body data-layout="horizontal" data-topbar="light" data-sidebar-size="sm">

<div class="main-content">
   <div class="page-content">

    <div class="container-fluid">
           
            <div class="row">
                 <div class="col-12">
                     <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">@ViewData["geninv"]</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"> <button class="btn btn-primary">Create Invoice</button></li>
                                            <!-- <li class="breadcrumb-item active">Dashboard</li> -->
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
</div>

<div class="container-fluid general-widget">
    @* BODY DETAILS CARD/PANEL *@
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tbl-smtp"
                            class="table table-bordered table-hover js-basic-example dataTable table-custom">
                            <thead>
                                <tr>
                                   <th class="sno-th">Sno</th>
                                   <th class="sno-th">@ViewData["invno"]</th>
                                   <th class="sno-th">@ViewData["invdate"]</th>
                                   <th>@ViewData["custname"]</th>
                                   <!-- <th class="sno-th">@ViewData["curren"]</th> -->
                                   <th class="sno-th">@ViewData["totamt"]</th>
                                   <th class="sno-th">@ViewData["remar"]</th>
                                                @*<th class="sno-th">Actions</th>*@
                                   <th class="sno-th">@ViewData["dwninvo"] </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th class="sno-th">Sno</th>
                                    <th class="sno-th">@ViewData["invno"]</th>
                                    <th class="sno-th">@ViewData["invdate"]</th>
                                    <th>@ViewData["custname"]</th>
                                    <!-- <th class="sno-th">@ViewData["curren"]</th> -->
                                    <th class="sno-th">@ViewData["totamt"]</th>
                                    <th class="sno-th">@ViewData["remar"]</th>
                                    @*<th class="sno-th">Actions</th>*@
                                    <th class="sno-th">@ViewData["dwninvo"] </th>
                                </tr>
                            </tfoot>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Warning Section Starts -->

</div>

</div>

        <div id="styleSelector">

        </div>
    </div>
</div>
</body>