@model BL.BIZINVOICING.BusinessEntities.Masters.CompanyBankMaster

@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Invoice_layout.cshtml";
    //Layout = "~/Views/Shared/_company_master.cshtml";
}


<script type="text/javascript">
    var glob, check;
    rt = true, dupicaterow = true;
    jQuery(document).ready(function () {
            
        bindRegionDetails();
        bindCompanyBank();
        bindBranches();
        var tRows = document.getElementById('tblchruch');
        var rows = tRows.rows;
        for (var Index = 1, row = null; Index < rows.length; Index++) {
            row = rows[Index];
            row.cells[0].innerHTML = Index;
        }
        jQuery("#btnSubmit").click(function () {
            opType = jQuery("#hdnEmployee").val();  // Value not picked on Company on Create Modal, Added manually
            var message = validateCompanyBank();
                if (message.length > 0 && opType != 'D') {
                    notifyMessage(message, 'danger');
                }
                else if (doublemob == false || doubleemail == false || doubleTin == false) {
                    jQuery("#loader").css("display", "none"); // Loader not available right now
                }
                    //else if (doubleacc == true) {
                    //    //jQuery("#loader").css("display", "none");
                    //   // alert(account number already exists);
                    //}

                else {
                        if (opType == 'C') {
                            var x = confirm("Are you sure you want to Save?");
                            if (x) {
                                addgd();
                                return true;
                            }
                            else
                                return false;
                        } else {
                            //var doubleacc = true;
                            var x = confirm("Are you sure you want to Update?");
                            if (x) {
                                addgd();
                                return true;
                            }
                            else
                                return false;
                        }
                }
        })
        jQuery("#btnDelete").click(function () {
            delgd();
        });
    });
    function bindBranches() {

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetBranchDetails", "EMPLOYDET")',
            data: '{}',
            dataType: 'json',
            success: function (data) {
                $("#ddlbra").append($("<option></option>").val(0).html('Select'));
                if (data != null) {
                    $.each(data, function (key, value) {
                        $("#ddlbra").append($("<option></option>").val(value.Sno).html(value.Name));
                    });
                }
            }
        })
    }
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function bindCompanyBank() {
        var stat = getUrlVars()["stat"];
        //alert(stat);
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetCompanys", "Company")',
            //data: '{ }',
            data: JSON.stringify({ 'stat': stat }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != null) {
                    var i = 1;
                    jQuery.each(data, function (key, value) {
                        var sta = value.Status == null ? "" : value.Status;
                        var braid = value.Branch_Sno == null ? "0" : value.Branch_Sno;
                        var row = '<tr>' +
                            '<td>' + i + '</td>' +
                            '<td>' + value.CompName + '</td>' +//1
                            '<td class="d-none">' + value.PostBox + '</td>' +//2
                            '<td>' + value.Address + '</td>' +//3
                            '<td class="d-none">' + value.RegId + '</td>' +//4
                            //'<td>' + value.RegName + '</td>' +//5
                            '<td class="d-none">' + value.DistSno + '</td>' +//6
                            //'<td>' + value.DistName + '</td>' +//7
                            '<td class="d-none">' + value.WardSno + '</td>' +//8
                            //'<td>' + value.WardName + '</td>' +//9
                            '<td class="d-none">' + value.TinNo + '</td>' +//10
                            '<td class="d-none">' + value.VatNo + '</td>' +//11
                            '<td class="d-none">' + value.DirectorName + '</td>' +//12
                            '<td>' + value.Email + '</td>' +//13
                            '<td>' + value.TelNo + '</td>' +//14
                            '<td class="d-none">' + value.FaxNo + '</td>' +//15
                            '<td>' + value.MobNo + '</td>' +//16
                            '<td>' + sta + '</td>' +//17

                            //'<td>' + value.CompLogo + '</td>' +//17
                            //'<td>' + value.DirectorSig + '</td>' +//18

                            '<td><button class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#modal-smtp" id="btn' + value.CompSno + '" data-sid="' + value.CompSno + '" value="Edit" onclick="showCompanyModel(this)"><i class="fa-solid fa-pen"></i></button>&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-danger btn-sm" data-sid="' + value.CompSno + '" data-pwd="' + value.CompName + '" id="btnDelete" data-rec="0" onclick="delgd(this)"><i class="fa-solid fa-trash-can"></i></button></td >' +
                            '<td class="d-none">' + braid + '</td>' +
                            '<td class="d-none">' + value.Checker + '</td>' +
                            '</tr>';
                        i++;
                        jQuery("#tbl-smtp tbody").append(row);
                    });
                }
                applyDatatable('tbl-smtp');
            }
        })
    }

    function delgd(e) {
        var st = jQuery(e).data('pwd');
        var x = confirm("Are you sure you want to Delete?");
        if (x) {
            jQuery('#hdnEmployee').val('D');
            cid = jQuery(e).data('sid');
            deletegds(cid,st);
            return true;
        }
        else
            return false;
    }
    function addgd() {
        var message =validateCompanyBank();
        type = '',
            opType = jQuery("#hdnEmployee").val();  // Dynamic Value Changed but not picked
        if (message.length > 0 && opType != 'D') {
            notifyMessage(message, 'danger');
        }
        else {
            var params = JSON.stringify(getSMTPValuesgradedetails());//need to change
           // alert(params);  
            console.log(params); 
            // Undefined on Create, problem hdnEmployee value not picked
            
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("AddCompanyBank", "Company")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    hideModal('modal-smtp');
                    if (opType == 'C') {
                        if (data == true) {
                            message = jQuery("#txtcompname").val()  + ' Already Exists.';
                            type = 'danger';
                        }
                        else if (data == "Exist") {
                            message = jQuery("#txtemail").val() + ' Email Already Exists.';
                            type = 'danger';
                        }
                        else if (data == "UExist") {
                            message =  ' Username Already Exists.';
                            type = 'danger';
                        }
                        else {
                            message = jQuery("#txtcompname").val() + '  or ' + jQuery("#txttinno").val() +  ' Successfully Created.';
                            type = 'success';
                        }
                    }
                    else if (opType == 'U') {
                        jk = true;
                        if (data == false && jk == true) {
                            message = jQuery("#txtcompname").val() + ' Already  Exists.';
                            type = 'danger';
                        }
                        else {
                            message = jQuery("#txtcompname").val() +'  Successfully Updated';
                            type = 'success';
                        }
                    }
                    //jQuery("#loader").css("display", "none");
                    notifyMessage(message, type);
                    bindCompanyBank();
                }
            })
        }
    }

    function deletegds(cid,st) {
        type = '',
            opType = jQuery("#hdnEmployee").val();  // hdnEmployee value not picked
        var params = JSON.stringify(getSMTPID(cid));
        //jQuery("#loader").css("display", "block");
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteCompanyBank", "Company")',
            data: params,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                hideModal('modal-smtp');
                if (data == true) {
                    message = st + '  is in use, cannot be deleted';
                    type = 'danger';
                }
                else if (opType == 'D' && data) {
                    message = st + '   Successfully Deleted';
                    type = 'success';
                    jQuery("#tbl-smtp tbody").empty();
                }
                notifyMessage(message, type);
                bindCompanyBank();
            }
        })
    }
     function bindDistDetails(dlreg) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetDistDetails", "Company")',
            data: JSON.stringify({ 'Sno': dlreg }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#ddldist").append(jQuery("<option></option>").val(0).html('Select'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddldist").append(jQuery("<option></option>").val(value.SNO).html(value.District_Name));
                    });
                }
                jQuery("#ddldist").val(dlreg).change();//ward
            }
        })
    }
     function bindRegionDetails() {
        jQuery.ajax({
            type: 'GET',
            url: '@Url.Action("GetRegionDetails", "Company")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#ddlreg").append(jQuery("<option></option>").val(0).html('Select'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddlreg").append(jQuery("<option></option>").val(value.Region_SNO).html(value.Region_Name));
                    });
                }
            }
        })
    }
    jQuery(function () {
        jQuery("#ddlreg").change(function () {
             jQuery('#ddldist option').remove();
            var dlreg = jQuery("#ddlreg > option:selected").attr("value");
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("GetDistDetails", "Company")',
                data: JSON.stringify({ 'Sno': dlreg }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    jQuery("#ddldist").append(jQuery("<option></option>").val(0).html('Select'));
                    //jQuery("#ddlward").append(jQuery("<option></option>").val(0).html('Select'));
                    if (data != 0) {
                        jQuery.each(data, function (key, value) {
                            jQuery("#ddldist").append(jQuery("<option></option>").val(value.SNO).html(value.District_Name ));
                        });
                    }
                    else { jQuery("#ddldist").val(0).change(); }
                    if (txtSname.value != 0) {
                        jQuery("#ddldist").val(txtSname.value).change();
                    }
                }
            })
        })
    })
    jQuery(function () {
        jQuery("#ddldist").change(function () {
            
            jQuery('#ddlward option').remove();
            jQuery("#ddlward").append(jQuery("<option></option>").val(0).html('Select'));
            var dldist = jQuery("#ddldist > option:selected").attr("value");
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("GetWard", "Company")',
                data: JSON.stringify({ 'sno': dldist }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    //jQuery("#ddlward").append(jQuery("<option></option>").val(0).html('Select'));
                    if (data != 0) {
                        jQuery.each(data, function (key, value) {
                            jQuery("#ddlward").append(jQuery("<option></option>").val(value.SNO).html(value.Ward_Name));
                        });
                    }
                    else {
                        jQuery("#ddlward").val(0).change();
                    }
                  //  if (txtSname.value != 0) {
                 //       jQuery("#ddlward").val(txtSname.value).change();
                 //   }
                    if (txtWname.value != 0) {
                        jQuery("#ddlward").val(txtWname.value).change();
                    }
                }
            })
        })
    })

   function showCompanyModel(e) {
        var txtCompName = document.getElementById('txtcompname');
        var txtPono = document.getElementById("txtpono");
        var txtAdd = document.getElementById("txtadd");
        var txtTinno = document.getElementById("txttinno");
        var txtVatno = document.getElementById("txtvatno");
        var txtDperson = document.getElementById("txtdname");
        var txtEmail = document.getElementById("txtemail");
        var txtTelno = document.getElementById("txttelno");
        var txtFaxno = document.getElementById("txtfaxno");
        var txtMob = document.getElementById("txtmob");
        var txtLogo = document.getElementById("imglogo");
        var txtSig = document.getElementById("txtsig");
        txtSID = document.getElementById('txtSID');
        var ddlREG = document.getElementById("ddlreg");
        //var regsno = ddlREG.options[ddlREG.selectedIndex].value;
        //var ddlreg = ddlREG.options[ddlREG.selectedIndex].text;
        var  ddlDIST = document.getElementById("ddldist");
        //var distsno = ddlDIST.options[ddlDIST.selectedIndex].value;
        //var ddldist = ddlDIST.options[ddlDIST.selectedIndex].text;
          var  ddlWARD = document.getElementById("ddlward");
        //var wardsno = ddlWARD.options[ddlWARD.selectedIndex].value;
        //var    ddlward = ddlWARD.options[ddlWARD.selectedIndex].text,
            //txtcompname, txtpono, txtadd, ddlreg, ddldist, ddlward, txttinno, txtdname, txtemail, txttelno, txtfaxno, txtmob, imglogo, txtsig
        //txtSID = document.getElementById('txtSID');
        var tblemployee = document.getElementById('tbl-smtp'),
            rows = tblemployee.rows,
        hdnEmployee = document.getElementById('hdnEmployee');
           
       if (e.value.indexOf('Edit') > -1) {
           hdnEmployee.value = 'U';
            jk = false, ak = false;
            jQuery("#btnSubmit").html("@ViewData["Update"]");
            for (var i = 0, row = null; i < rows.length; i++) {
                row = rows[i];
                if (row.cells[15].innerHTML.indexOf(e.id) > -1) {
                    txtSID.value = jQuery(e).data('sid');
                    jQuery("#loader").css("display", "none");
                    txtCompName.value = row.cells[1].innerHTML;
                    txtPono.value = row.cells[2].innerHTML;
                    txtAdd.value = row.cells[3].innerHTML;
                    jQuery("#ddlreg").val(row.cells[4].innerHTML).change();
                    jQuery("#ddldist").val(row.cells[5].innerHTML).change();
                    jQuery("#ddlward").val(row.cells[6].innerHTML).change();
                    jQuery("#ddlbra").val(row.cells[16].innerHTML).change();
                    txtTinno.value = row.cells[7].innerHTML;
                    txtVatno.value = row.cells[8].innerHTML;
                    txtDperson.value = row.cells[9].innerHTML;
                    txtEmail.value = row.cells[10].innerHTML;
                    txtTelno.value = row.cells[11].innerHTML;
                    txtFaxno.value = row.cells[12].innerHTML;
                    txtMob.value = row.cells[13].innerHTML;
                    //txtLogo.value = row.cells[17].innerHTML;
                    //txtSig.value = row.cells[18].innerHTML;                    
                    txtDname.value = row.cells[4].innerHTML;//..................del
                    txtSname.value = row.cells[5].innerHTML;
                    txtWname.value = row.cells[6].innerHTML;
                    jQuery("#lblError").hide();
                    jQuery("#lblError2").hide();
                    jQuery("#lblError4").hide();
                    jk = false;
                    var flag = row.cells[17].innerHTML;
                    if (flag == 'Yes') {
                        jQuery("#rbyes").prop("checked", true);
                        jQuery("#rbno").prop("checked", false);
                    }
                    else if (flag == 'No') {
                        jQuery("#rbyes").prop("checked", false);
                        jQuery("#rbno").prop("checked", true);
                    } else {
                        jQuery("#rbyes").prop("checked", false);
                        jQuery("#rbno").prop("checked", false);
                    }
                   jQuery.ajax({
                       type: 'POST',
                       url: '@Url.Action("GetBanks", "Company")',
                       data: JSON.stringify({ 'Sno': jQuery(e).data('sid') }),
                       contentType: 'application/json; charset=utf-8',
                       dataType: 'json',
                       cache: false,
                       success: function (data) {
                           //txtbankname, txtbankbranch, txtaccno, txtswiftcode
                           //jQuery('#txtbankname').val('').change();
                           //jQuery('#txtbankbranch').val('').change();
                           jQuery('#txtaccno').val('').change();
                           //jQuery('#txtswiftcode').val('').change();
                           if (data != null) {
                               jQuery("#tblchruch  TBODY").children().not(":last").remove();
                               jQuery.each(data, function (key, value) {
                                   var tBody = jQuery("#tblchruch  TBODY")[0];
                                   var row = tBody.insertRow(0);
                                   var cell = jQuery(row.insertCell(0));
                                   
                                   //txtbankname, txtbankbranch, txtaccno, txtswiftcode
                                   //var cell1 = jQuery(row.insertCell(1));
                                   //var t1 = document.createElement("input");
                                   //t1.id = "txtbankname1";
                                   //t1.value = value.BankName;
                                   //t1.className = "form-control col-10";
                                   //cell1.append(t1);
                                   //var cell2 = jQuery(row.insertCell(2));
                                   //var t2 = document.createElement("input");
                                   //t2.id = "txtbankbranch1";
                                   //t2.value = value.BankBranch;
                                   //t2.className = "form-control col-10";
                                   //cell2.append(t2);
                                   var cell3 = jQuery(row.insertCell(1));
                                   var t3 = document.createElement("input");
                                   t3.id = "txtaccno1";
                                   t3.value = value.AccountNo;
                                   t3.className = "form-control col-10";
                                   cell3.append(t3);
                                   //var cell4 = jQuery(row.insertCell(4));
                                   //var t4 = document.createElement("input");
                                   //t4.id = "txtswiftcode1";
                                   //t4.value = value.Swiftcode;
                                   //t4.className = "form-control col-10";
                                   //cell4.append(t4);

                                   cell5 = jQuery(row.insertCell(3));
                                   var btnRemove = jQuery('<button class="btn btn-outline-dark btn-sm" onclick="Removegrade(this);return false;"><i class="icofont icofont-ui-delete"></i></button>');
                                   cell5.append(btnRemove);
                                   jQuery("#tblchruch tbody").append(tBody);
                                   i++;
                                   //jQuery('#tblchruch tr td:nth-child(2)').hide();
                                   //jQuery('#tblchruch tr td:nth-child(5)').hide();
                                   var tRows = document.getElementById('tblchruch');
                                   var rows = tRows.rows;
                                   for (var Index = 1, row = null; Index < rows.length; Index++) {
                                       row = rows[Index];
                                       row.cells[0].innerHTML = Index;
                                   }
                               });
                           }
                           var tr = '<button type="button" id="btnAdd" class="btn btn-biz_logic btn-sm" value="Add" onclick="AddNewrowGrade(this)"><i class="icofont icofont-plus"></i> AddnewRow</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn  btn-outline-dark btn-sm" onclick="Removegrade(this);return false;"><i class="icofont icofont-ui-delete"></i> Delete</button>';
                           $("#tblchruch").find("tr:last").prev().find("td:last").html(tr);
                           $('#tblchruch tr:last').hide();
                           hdnEmployee.value = 'U';
                           rt = false;
                       }
                   })
                }
            }
        }
        else if (e.value.indexOf('Add') > -1) {
            resetSGD();
            txtSID.value = 0;
            //txtDID.value = '';

            hdnEmployee.value = 'C';

            jQuery("#tdlast").show();
            jQuery('#tblchruch tr th:nth-child(3)').show();
            jQuery('#tblchruch tr td:nth-child(3)').show();
            jQuery("#btnSubmit").show();
            
            jQuery("#btnSubmit").html("@ViewData["Save"]");

            //jQuery("#loader").css("display", "none");
            $('#tblchruch tr:last').show();
            var tRows = document.getElementById('tblchruch');
            var rows = tRows.rows;
            for (var Index = 1, row = null; Index < rows.length; Index++) {
                row = rows[Index];
                row.cells[0].innerHTML = Index;
            }
        }
    }
     @*var double;
    function binddupliacteDetailsGrade(desc, date) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("CheckGrade", "Company")',
            data: JSON.stringify({ 'desc': desc }, { 'date': date }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    double = false;
                }
                else {
                    double = true;
                }
            }
        })
    }*@
    function binddupliacteAccountDetails(acc) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("CheckAccount", "Company")',
            data: JSON.stringify({ 'acc': acc.value }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    doubleacc = false;
                }
                else {
                    doubleacc = true;
                    //lblError12.innerHTML = "";
                }
            }
        })
    }
   
</script>

@* <div class="pcoded-content">
<div class="pcoded-inner-content">
<!-- Main-body start -->
<div class="main-body">
<div class="page-wrapper">
<!-- Page-header start -->
<div class="page-header">
<div class="page-header-title">
<h4>Company Master</h4>
</div>
<div class="page-header-breadcrumb">
<ul class="breadcrumb-title">
    <li class="breadcrumb-item">
        <a href="">
            <i class="icofont icofont-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item"><a href="#!">Company Master Details</a>
    </li>
</ul>
</div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
<div class="card product-add-modal">
<div class="card-header">
    <h5 id="exampleModalLabel1">Company Master Details</h5>

    <button type="button"
    id="btnAdd" value="Add" data-sid="0"
        class="btn btn-primary waves-effect waves-light f-right d-inline-block "
        onclick="showCompanyModel(this);"
        data-bs-toggle="modal" data-bs-target="#modal-smtp">
        <i class="icofont icofont-plus m-r-5"></i>    
        Add Company
    </button>

    <input type="hidden" id="hdnEmployee" />
</div> *@
@*<div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            <h2>@ViewData["comp"]</h2>
        </div>
        <div class="col-md-6 col-sm-12 text-right">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Setup", "Setup")"><i class="fa-solid fa-building"></i></a></li>
                <li class="breadcrumb-item active">@ViewData["compdet"]</li>
            </ul>
             <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create New</a> 
            <button type="button"
                    id="btnAdd" value="Add" data-sid="0"
                    class="btn btn-primary waves-effect waves-light f-right d-inline-block ml-4"
                    onclick="showCompanyModel(this);"
                    data-bs-toggle="modal" data-bs-target="#modal-smtp">
                <i class="icofont icofont-plus m-r-5"></i>
                @ViewData["addcomp"]
            </button>
            <input type="hidden" id="hdnEmployee" />
        </div>
    </div>
</div>*@
<body data-layout="horizontal" data-topbar="light" data-sidebar-size="sm">
    <div class="page-content">

    <div class="main-content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">@ViewData["comp"]</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <!-- <li class="breadcrumb-item"> <button class="btn btn-primary">Create Invoice</button></li> -->
                    <button type="button"
                            id="btnAdd" value="Add" data-sid="0"
                            class="btn btn-outline-primary waves-effect waves-light f-right d-inline-block ml-4"
                            onclick="showCompanyModel(this);"
                            data-bs-toggle="modal" data-bs-target="#modal-smtp">
                        <i data-feather="plus-circle" class="mr-2"></i>
                        @ViewData["addcomp"]
                    </button>
                    <input type="hidden" id="hdnEmployee" />
                </ol>
            </div>

          </div>
        </div>
      </div>
    </div>
        <!-- Container-fluid starts-->

<div class="container-fluid general-widget">
    @* BODY DETAILS CARD/PANEL *@
    <div class="row ">
        <div class="col-lg-12">
            <div class="card">
                   @*<div class="card-header">
                    <h2>
                        @ViewData["compdet"] <small></small>
                    </h2>
                    <ul class="header-dropdown dropdown dropdown-animated scale-left">
                        <li> <a href="javascript:void(0);" data-bs-toggle="cardloading" data-loading-effect="pulse"><i
                                    class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a>
                        </li>
                      <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another Action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                            </li> 
                    </ul>
                </div>*@
                 <div class="card-body">
                    <div class="table-responsive">
                        <table id="tbl-smtp"
                            class="table table-bordered table-hover js-basic-example dataTable table-custom">
                            <thead>
                                <tr>
                                    <th class="setup_actions" style="width:5px;">Sno</th>
                                    <th>@ViewData["compname"]</th>
                                    <th class="d-none">@ViewData["poboxno"]</th>
                                    <th>@ViewData["addr"]</th>
                                    <th class="d-none">Region Id</th>
                                    <th class="d-none">District Sno</th>
                                    <th class="d-none">Ward Id</th>
                                    <th class="d-none">@ViewData["tino"]</th>
                                    <th class="d-none">@ViewData["vatno"]</th>
                                    <th class="d-none">@ViewData["dirnam"]</th>
                                    <th>Email</th>
                                    <th>@ViewData["teleno"]</th>
                                    <th class="d-none">@ViewData["faxno"]</th>
                                    <th>@ViewData["Mno"]</th>
                                    <th>Status</th>
                                    <th class="setup_actions">@ViewData["Actions"]</th>
                                    <th class="d-none">Branch Id</th>
                                    <th class="d-none">Cheker</th>
                                </tr>
                            </thead>
                           
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>  
<!-- Container-fluid Ends-->
</div>
</div>
</body>
<!-- [MODALS] -->
<div class="modal" id="modal-smtp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="believerCreateLabel"
     aria-hidden="true">
    <div class="modal-dialog believerModal modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title offset" id="exampleModalLabel1">@ViewData["compmas"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="col-12 p-0 mx-auto" action="AddCompanyBank" method="post" name="form1">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["compmas"]<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtcompname" placeholder="Company Name" onkeyup="validCompany(this)" onkeypress="return alpha(event)" maxlength="100" />
                            <input type="hidden" class="form-control  hidden" id="txtSID">
                            <input type="hidden" class="form-control  hidden" id="txtDname">
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["Mno"]<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtmob" placeholder="Mobile Number" maxlength="12" @*onkeydown="validCust(this)"*@ onblur="mobileValiadte(this);" />
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError"></span>
                            </div>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">Branch<span class="text-danger">*</span></label>
                            <select class="form-control" id="ddlbra" name="ddlbra"></select>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">Checker/Maker<span class="text-danger">*</span></label>
                            <input type="radio" class="ml-2" name="checker" id="rbyes"
                                   value="Yes">&nbsp;<label for="Male">Yes</label>
                            &nbsp; <input class="ml-2" type="radio" name="checker" id="rbno"
                                          value="No">&nbsp;<label for="FeMale">No</label>
                        </div>

                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["faxno"]</label>
                            <input type="Text" class="form-control" id="txtfaxno" placeholder="Fax No" onkeypress="return isNumber(event)" maxlength="20" @*onkeydown="validCust(this)"*@ />

                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["poboxno"]</label>
                            <input type="text" class="form-control" id="txtpono" placeholder="Post Box No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="50" />

                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["addr"]</label>
                            <textarea type="text" id="txtadd" class="form-control" placeholder="Address" maxlength="100"></textarea>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">@ViewData["Region"]</label>
                            <select class="form-control" id="ddlreg" name="ddlreg"></select>
                        </div>


                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">@ViewData["District"] </label>
                            <select class="form-control" id="ddldist" name="ddldist"></select>
                            <input type="hidden" class="form-control  hidden" id="txtSname">
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6">
                            <label for="gender" class="f-label_align">@ViewData["Ward"]</label>
                            <select class="form-control" id="ddlward" name="ddlward"></select>
                            <input type="hidden" class="form-control  hidden" id="txtWname">
                        </div>


                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["tino"]</label>
                            <input type="Text" class="form-control" id="txttinno" placeholder="Tin No" onkeypress="return isNumber(event)" maxlength="9" onkeydown="validComp(this)" onblur="TinnoValiadte(this);" />
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError4"></span>
                            </div>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["vatno"]</label>
                            <input type="text" class="form-control" id="txtvatno" placeholder="Vat No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="20" />

                        </div>

                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["dirnam"]</label>
                            <input type="text" class="form-control" id="txtdname" placeholder="Director Name" onkeypress="return alpha(event)" maxlength="100" />

                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["EID"]</label>
                            <input type="text" class="form-control" id="txtemail" placeholder="Email" onblur="ValidateEmail(this)" @*onkeyup="validCust(this)"*@ maxlength="100" />
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError1"></span>
                            </div>
                            <div class="form-group flex_form-group align-items-baseline offset">
                                <span id="lblError2"></span>@*<span id="lblError2"></span>*@
                            </div>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                            <label for="gender" class="f-label_align">@ViewData["teleno"]</label>
                            <input type="text" class="form-control" id="txttelno" placeholder="Telephone No" maxlength="20" />

                        </div>
                       
                        @*<div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
            <label for="gender" class="f-label_align">Company Logo<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="imglogo" placeholder="Post Box No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="100" />

        </div>
        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
            <label for="gender" class="f-label_align">Director Signature<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="txtsig" placeholder="Post Box No" onblur="return alpha(event)" onkeypress="return isNumber(event)" maxlength="100" />

        </div>*@
                    </div>
                    <div class="row"></div>
                    <hr>
                    <div class="row mx-0">
                        <h4>@ViewData["bnkdets"]</h4>
                        <div class="dt-responsive table-responsive">
                            <table class="table table-bordered rounded e-de-table-center-alignment text-center display no-wrap" align="center" id="tblchruch">
                                <thead class="thead-light">
                                    <tr>
                                        <th data-orderable="false">sno</th>
                                        <th data-orderable="false">@ViewData["accno"]</th>
                                        <th data-orderable="false">@ViewData["Actions"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>

                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control input-sm col-10" maxlength="50" autocomplete="off" placeholder="Account No" @*onkeydown="validCo(this)"*@ onchange="binddupliacteAccountDetails(this);" id="txtaccno" />
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" id="btnAdd" class="btn btn-outline-primary btn-sm" value="Add" onclick="AddNewrowGrade(this)">
                                                <i data-feather="plus"></i>@ViewData["addnewr"]
                                            </button>
                                            <button class="btn  btn-outline-danger btn-sm" onclick="Removegrade(this);return false;"><i data-feather="x"></i>@ViewData["dele"]</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-info btn-sm" data-bs-dismiss="modal">@ViewData["Close"]</button>
                        <button type="button" class="btn btn-outline-primary btn-sm btn-biz_logic" id="btnSubmit">@ViewData["Save"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                                          
                                            <div class="md-overlay"></div>
                                            <!-- Container-fluid ends -->
                                        </div>
                                        <!-- Page-body end -->
                                    </div>
                                </div>
                                <div id="styleSelector">
                                </div>